
html {
  font-size: calc(15px + 0.390625vw);
}


.profile-picture {
    height: 450px;
    width: 490px;
    border-radius: 50%;
    margin-left: 190px;
  }

  @media (max-width: 600px) {

    /* CSS for screens below or equal to 600px wide */
  .profile-picture {
      height: 220px;
      width: 220px;
    }
  }

  
.kontakt-pilt {
    width: 450px;
    height: 400px;
}

@media (max-width: 600px) {

  /* CSS for screens below or equal to 600px wide */
.kontakt-pilt {
    height: 200px;
    width: 220px;
  }
}


.alpakad {
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 350px;
}

@media (max-width: 600px) {
.alpakad {
  padding-left: 20px;
  padding-right: 20px;
  }
}


.alpakad-pilt {
  padding-left: 70px;
  width: 450px;
  height: 390px;
}

@media (max-width: 600px) {

  /* CSS for screens below or equal to 600px wide */
.alpakad-pilt {
  height: 200px;
  width: 220px;
  }
}

.tooted {
  width: 280px;
  height: 320px;
}

  h1  {
font-family: 'Kaushan Script', cursive;
  }

  
  p  {
    font-family: 'Bonbon', cursive;
      }

  h3  {
    font-family: 'Lobster', cursive;
    }

    a {
        color: #876445;
        font-family: 'Lobster', cursive;
      }

      
  h2  {
    font-family: 'Lobster', cursive;
    }

    ul {
      font-family: 'Bonbon', cursive;
    }

    h4 {
      font-family: 'Lobster', cursive;
    }

    